.vortion2Icon {
  position: absolute;
  top: 12px;
  left: 206px;
  width: 166px;
  height: 36px;
  object-fit: cover;
}
.copyright2023,
.ruaArizona209 {
  position: absolute;
  top: 31px;
  left: 392px;
  font-weight: 300;
}
.copyright2023 {
  left: 1040px;
}
.icons8Whatsapp301 {
  position: absolute;
  top: 28px;
  left: 806px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.icons8Facebook241,
.icons8Instagram301,
.icons8Linkedin301,
.icons8Youtube501 {
  position: absolute;
  top: 28px;
  left: 864px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.icons8Instagram301,
.icons8Linkedin301,
.icons8Youtube501 {
  left: 893px;
}
.icons8Instagram301,
.icons8Linkedin301 {
  left: 922px;
}
.icons8Instagram301 {
  left: 835px;
}
.footerIi {
  position: absolute;
  top: 5558px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 60px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
}
.aVrtionFoca,
.sobreAVortion {
  position: absolute;
  top: 31px;
  left: 215px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
}
.aVrtionFoca {
  top: 82px;
  font-size: var(--font-size-sm);
  text-align: justify;
  display: inline-block;
  width: 168px;
  height: 200px;
}
.institucional,
.solues {
  position: absolute;
  top: 31px;
  left: 654px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
}
.solues {
  left: 1057px;
}
.gestoDeLinks,
.home,
.inboundMarketing {
  position: absolute;
  top: 82px;
  left: 654px;
  font-weight: 300;
}
.gestoDeLinks,
.inboundMarketing {
  left: 1057px;
}
.gestoDeLinks {
  top: 120px;
}
.criaoDeSites,
.gestoDeRedes,
.identidadeVisual {
  position: absolute;
  top: 158px;
  left: 1057px;
  font-weight: 300;
}
.criaoDeSites,
.identidadeVisual {
  top: 196px;
}
.identidadeVisual {
  top: 234px;
}
.blog,
.clientes,
.contato,
.quemSomos {
  position: absolute;
  top: 120px;
  left: 654px;
  font-weight: 300;
}
.blog,
.clientes,
.contato {
  top: 158px;
}
.blog,
.contato {
  top: 196px;
}
.contato {
  top: 234px;
}
.footer {
  position: absolute;
  top: 5233px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 325px;
  overflow: hidden;
  font-size: var(--font-size-smi);
}
.perfil22Icon {
  position: absolute;
  top: 58px;
  left: 694px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.seoXChild,
.seoXItem {
  position: absolute;
  top: 80px;
  left: 591px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 102px;
  height: 2px;
  mix-blend-mode: normal;
}
.seoXItem {
  left: 738px;
}
.clientes1 {
  position: absolute;
  top: 16px;
  left: 656px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.perfil24Icon,
.perfil25Icon,
.perfil26Icon {
  position: absolute;
  top: 91px;
  left: 270px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.perfil25Icon,
.perfil26Icon {
  left: 570px;
}
.perfil26Icon {
  left: 870px;
}
.b,
.b1,
.seoX {
  position: absolute;
  top: 241px;
  left: 215px;
}
.b1,
.seoX {
  left: 1170px;
}
.seoX {
  top: 4823px;
  left: 0;
  width: 1440px;
  height: 410px;
  overflow: hidden;
  font-size: var(--font-size-81xl);
  color: var(--color-mediumspringgreen);
}
.blogDeMarketing {
  position: absolute;
  top: 16px;
  left: 536px;
  font-size: var(--font-size-9xl);
}
.acompanheNossoBlog {
  position: absolute;
  top: 108px;
  left: 277px;
  font-size: var(--font-size-base);
  font-weight: 300;
}
.seoIxInner {
  position: absolute;
  top: 352px;
  left: 553px;
  border-radius: 1000px;
  background-color: #d9d9d9;
  width: 326px;
  height: 40px;
}
.contedoEMonetizao {
  position: absolute;
  top: 167px;
  left: 277px;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  width: 250px;
  height: 100px;
}
.dosBrasileirosPreferemMarcaIcon {
  position: absolute;
  top: 167px;
  left: 545px;
  border-radius: var(--br-10xs);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.dosBrasileirosPreferem,
.top5Indicadores {
  position: absolute;
  top: 167px;
  left: 663px;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  width: 250px;
  height: 100px;
}
.top5Indicadores {
  left: 1049px;
}
.vejaMaisArtigos {
  position: absolute;
  top: 360px;
  left: 564px;
  font-size: var(--font-size-sm);
  line-height: 24px;
  color: var(--color-black);
}
.rawpixelcomShutterstock21Icon,
.top5IndicadoresQueOsProfiIcon {
  position: absolute;
  top: 167px;
  left: 159px;
  border-radius: var(--br-10xs);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.top5IndicadoresQueOsProfiIcon {
  left: 931px;
}
.seoIx {
  position: absolute;
  top: 4413px;
  left: 0;
  width: 1440px;
  height: 410px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.seoViiiChild {
  position: absolute;
  top: 29px;
  left: 680px;
  width: 80px;
  height: 80px;
}
.icons8Sale642,
.seoViiiItem {
  position: absolute;
  top: 378px;
  left: 1052px;
  width: 50px;
  height: 50px;
}
.icons8Sale642 {
  top: 44px;
  left: 695px;
  object-fit: cover;
}
.execuoDasAes {
  position: absolute;
  top: 120px;
  left: 581px;
  font-size: var(--font-size-xs);
  line-height: 28px;
  text-align: left;
}
.paraFazerIsso {
  position: absolute;
  top: 159px;
  left: 174px;
  font-size: var(--font-size-7xl);
  line-height: 36px;
  font-weight: 300;
  display: inline-block;
  width: 1092px;
}
.relacionamento,
.venda {
  position: absolute;
  top: 329px;
  left: 511px;
  line-height: 28px;
  color: var(--color-darkturquoise);
}
.venda {
  left: 738px;
  color: var(--color-deepskyblue);
}
.anlise {
  left: 871px;
  color: var(--color-cornflowerblue);
}
.anlise,
.atrao,
.converso,
.faleConosco {
  position: absolute;
  top: 329px;
  line-height: 28px;
}
.faleConosco {
  left: 1015px;
  color: #0173e5;
}
.atrao,
.converso {
  left: 332px;
  color: var(--color-mediumspringgreen);
}
.atrao {
  left: 174px;
}
.eMailMarketing,
.landingPages,
.linksPatrocinados,
.relatriosDePerformance {
  position: absolute;
  top: 383px;
  left: 174px;
  font-size: var(--font-size-sm);
  line-height: 30px;
  text-align: justify;
}
.eMailMarketing,
.landingPages,
.relatriosDePerformance {
  left: 332px;
}
.eMailMarketing,
.relatriosDePerformance {
  left: 511px;
}
.relatriosDePerformance {
  left: 871px;
  line-height: 20px;
  display: inline-block;
  width: 100px;
}
.anliseEAvaliao,
.implementaoDeCrm,
.implementaoDeFerramentas,
.leadScoring,
.leadTracking,
.redesignDoMaterial {
  position: absolute;
  top: 428px;
  left: 871px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: left;
  display: inline-block;
  width: 140px;
}
.implementaoDeCrm,
.implementaoDeFerramentas,
.leadScoring,
.leadTracking,
.redesignDoMaterial {
  top: 473px;
}
.implementaoDeCrm,
.leadScoring,
.leadTracking,
.redesignDoMaterial {
  top: 538px;
}
.implementaoDeCrm,
.leadScoring,
.redesignDoMaterial {
  top: 383px;
  left: 738px;
  text-align: justify;
  width: 122px;
}
.leadScoring,
.redesignDoMaterial {
  top: 488px;
}
.redesignDoMaterial {
  top: 423px;
  text-align: left;
  width: 117px;
}
.automaoDeMarketing,
.construoDeMailing,
.segmentaoDeLeads {
  position: absolute;
  top: 413px;
  left: 511px;
  font-size: var(--font-size-sm);
  line-height: 30px;
  text-align: justify;
}
.construoDeMailing,
.segmentaoDeLeads {
  top: 443px;
}
.construoDeMailing {
  top: 473px;
}
.newsletter {
  top: 503px;
  left: 511px;
  line-height: 30px;
}
.gestoDeRedes1,
.newsletter,
.remarketing {
  position: absolute;
  font-size: var(--font-size-sm);
  text-align: justify;
}
.gestoDeRedes1 {
  top: 533px;
  left: 511px;
  line-height: 30px;
}
.remarketing {
  top: 413px;
}
.mapasDeCalor,
.remarketing,
.testesAb {
  left: 332px;
  line-height: 30px;
}
.testesAb {
  position: absolute;
  top: 443px;
  font-size: var(--font-size-sm);
  text-align: justify;
}
.mapasDeCalor {
  top: 473px;
  display: inline-block;
  width: 131px;
}
.facebookAds,
.googleAdwords,
.mapasDeCalor,
.produoDeMaterial,
.seo {
  position: absolute;
  font-size: var(--font-size-sm);
  text-align: justify;
}
.produoDeMaterial {
  top: 503px;
  left: 332px;
  line-height: 20px;
  display: inline-block;
  width: 90px;
}
.facebookAds,
.googleAdwords,
.seo {
  top: 413px;
  left: 174px;
  line-height: 30px;
}
.facebookAds,
.seo {
  top: 443px;
}
.seo {
  top: 473px;
}
.blogCorporativo {
  top: 503px;
  line-height: 30px;
}
.blogCorporativo,
.marketingDeContedo,
.vdeoMarketing {
  position: absolute;
  left: 174px;
  font-size: var(--font-size-sm);
  text-align: justify;
}
.marketingDeContedo {
  top: 538px;
  line-height: 20px;
  display: inline-block;
  width: 98px;
}
.vdeoMarketing {
  top: 585px;
  line-height: 30px;
}
.icons8Mail501 {
  position: absolute;
  top: 390px;
  left: 1065px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.b2 {
  position: absolute;
  left: 163px;
  color: var(--color-mediumspringgreen);
}
.b2,
.b3,
.b4 {
  top: 394px;
  display: inline-block;
  width: 5px;
  height: 7px;
}
.b3 {
  position: absolute;
  left: 321px;
  color: var(--color-mediumspringgreen);
}
.b4 {
  left: 498px;
  color: var(--color-darkturquoise);
}
.b4,
.b5,
.b6 {
  position: absolute;
}
.b5 {
  top: 394px;
  left: 722px;
  display: inline-block;
  color: var(--color-deepskyblue);
  width: 5px;
  height: 7px;
}
.b6 {
  top: 395px;
}
.b6,
.b7,
.b8 {
  left: 860px;
  display: inline-block;
  color: var(--color-cornflowerblue);
  width: 5px;
  height: 7px;
}
.b7 {
  position: absolute;
  top: 444px;
}
.b8 {
  top: 488px;
}
.b10,
.b11,
.b8,
.b9 {
  position: absolute;
}
.b9 {
  top: 545px;
  left: 860px;
  display: inline-block;
  color: var(--color-cornflowerblue);
  width: 5px;
  height: 6px;
}
.b10,
.b11 {
  left: 722px;
  color: var(--color-deepskyblue);
}
.b10 {
  top: 430px;
  display: inline-block;
  width: 5px;
  height: 7px;
}
.b11 {
  top: 493px;
}
.b11,
.b12,
.b13 {
  display: inline-block;
  width: 5px;
  height: 7px;
}
.b12 {
  position: absolute;
  top: 424px;
  left: 498px;
  color: var(--color-darkturquoise);
}
.b13 {
  top: 453px;
}
.b13,
.b14,
.b15 {
  position: absolute;
  left: 498px;
  color: var(--color-darkturquoise);
}
.b14 {
  top: 484px;
  display: inline-block;
  width: 5px;
  height: 7px;
}
.b15 {
  top: 512px;
}
.b15,
.b16,
.b17 {
  display: inline-block;
  width: 5px;
  height: 7px;
}
.b16 {
  position: absolute;
  top: 544px;
  left: 498px;
  color: var(--color-darkturquoise);
}
.b17 {
  top: 424px;
  color: var(--color-mediumspringgreen);
}
.b17,
.b18,
.b19 {
  position: absolute;
  left: 321px;
}
.b18 {
  top: 454px;
  display: inline-block;
  color: var(--color-mediumspringgreen);
  width: 5px;
  height: 7px;
}
.b19 {
  top: 484px;
}
.b19,
.b20,
.b21 {
  display: inline-block;
  color: var(--color-mediumspringgreen);
  width: 5px;
  height: 7px;
}
.b20 {
  position: absolute;
  top: 508px;
  left: 321px;
}
.b21 {
  top: 424px;
  left: 163px;
}
.b21,
.b22,
.b23 {
  position: absolute;
}
.b22 {
  top: 452px;
  left: 163px;
  display: inline-block;
  color: var(--color-mediumspringgreen);
  width: 5px;
  height: 7px;
}
.b23 {
  top: 484px;
}
.b23,
.b24,
.b25 {
  left: 163px;
  display: inline-block;
  color: var(--color-mediumspringgreen);
  width: 5px;
  height: 7px;
}
.b24 {
  position: absolute;
  top: 514px;
}
.b25 {
  top: 544px;
}
.b25,
.b26,
.seoViii {
  position: absolute;
}
.b26 {
  top: 596px;
  left: 163px;
  display: inline-block;
  color: var(--color-mediumspringgreen);
  width: 5px;
  height: 7px;
}
.seoViii {
  top: 3778px;
  left: 0;
  width: 1440px;
  height: 635px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
}
.seoViiChild {
  position: absolute;
  top: 21px;
  left: 680px;
  width: 80px;
  height: 80px;
}
.icons8Implementation642 {
  position: absolute;
  top: 36px;
  left: 695px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.comEssesDados,
.implementaoDaEstratgia {
  position: absolute;
  top: 108px;
  left: 550px;
  line-height: 28px;
}
.comEssesDados {
  top: 143px;
  left: 174px;
  font-size: var(--font-size-7xl);
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 1092px;
}
.metodologiaDaAgenciaDeMarkIcon,
.seoVii {
  position: absolute;
  top: 273px;
  left: 331px;
  width: 779.42px;
  height: 186.68px;
  overflow: hidden;
}
.seoVii {
  top: 3301px;
  left: 0;
  width: 1440px;
  height: 489px;
}
.seoViChild {
  position: absolute;
  top: 29px;
  left: 1103px;
  width: 80px;
  height: 80px;
}
.produoEmMassa {
  position: absolute;
  top: 55px;
  left: 945px;
  line-height: 28px;
  text-align: left;
}
.executaremosOPlanejamento,
.porQueA {
  position: absolute;
  left: 659px;
  display: inline-block;
  width: 524px;
}
.porQueA {
  top: 124px;
  font-size: var(--font-size-7xl);
  line-height: 36px;
  font-weight: 300;
}
.executaremosOPlanejamento {
  top: 211px;
  font-size: var(--font-size-sm);
  line-height: 19px;
}
.icons8Production322,
.perfil23Icon {
  position: absolute;
  top: 0;
  left: 182px;
  width: 379px;
  height: 340px;
  object-fit: cover;
}
.icons8Production322 {
  top: 44px;
  left: 1118px;
  width: 50px;
  height: 50px;
}
.seoVi {
  position: absolute;
  top: 2961px;
  left: -3px;
  width: 1440px;
  height: 345px;
  overflow: hidden;
  text-align: justify;
}
.seoVChild {
  position: absolute;
  top: 29px;
  left: 615px;
  width: 80px;
  height: 80px;
}
.icons8Persona642 {
  position: absolute;
  top: 44px;
  left: 630px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.definioDePersonas {
  position: absolute;
  top: 55px;
  left: 447px;
  line-height: 28px;
  text-align: left;
}
.entendemosProfundamenteO,
.idealCustomerProfile {
  position: absolute;
  left: 171px;
  display: inline-block;
  width: 524px;
}
.entendemosProfundamenteO {
  top: 129px;
  font-size: var(--font-size-7xl);
  line-height: 36px;
  font-weight: 300;
}
.idealCustomerProfile {
  top: 211px;
  font-size: var(--font-size-sm);
  line-height: 19px;
}
.perfil23Icon1 {
  position: absolute;
  top: 0;
  left: 805px;
  width: 379px;
  height: 340px;
  object-fit: cover;
}
.seoV {
  position: absolute;
  top: 2616px;
  left: 0;
  width: 1440px;
  height: 345px;
  overflow: hidden;
  text-align: justify;
}
.seoIvChild {
  position: absolute;
  top: 26px;
  left: 680px;
  width: 80px;
  height: 80px;
}
.icons8Planning5012 {
  position: absolute;
  top: 41px;
  left: 695px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.identificamosOsMaiores,
.nestaEtapaAuxiliamos {
  position: absolute;
  top: 181px;
  left: 174px;
  line-height: 36px;
  font-weight: 300;
  display: inline-block;
  width: 1092px;
}
.nestaEtapaAuxiliamos {
  top: 262px;
  left: 173px;
  font-size: var(--font-size-sm);
  line-height: 26px;
  height: 39px;
}
.planejamentoDoMarketing {
  position: absolute;
  top: 122px;
  left: 599px;
  font-size: var(--font-size-xs);
  line-height: 28px;
  text-align: left;
}
.objetivosDaAgenciaDeMarketIcon,
.seoIv {
  position: absolute;
  top: 332px;
  left: 370px;
  width: 700px;
  height: 443px;
  overflow: hidden;
}
.seoIv {
  top: 1799px;
  left: 0;
  width: 1440px;
  height: 817px;
  text-align: center;
  font-size: var(--font-size-7xl);
}
.seoIiiChild {
  position: absolute;
  top: 51px;
  left: 694px;
  width: 80px;
  height: 80px;
}
.icons8Cardio5012 {
  position: absolute;
  top: 66px;
  left: 709px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.diagnsticoDeMarketing {
  position: absolute;
  top: 140px;
  left: 620px;
  font-size: var(--font-size-xs);
  line-height: 28px;
  text-align: left;
}
.analisamosOFunil {
  position: absolute;
  top: 192px;
  left: 220px;
  font-size: var(--font-size-7xl);
  line-height: 36px;
  font-weight: 300;
  display: inline-block;
  width: 1027px;
}
.funilDaAgenciaDeMarketingIcon {
  position: absolute;
  top: 348px;
  left: 850px;
  width: 397px;
  height: 319px;
  overflow: hidden;
}
.icons8Check481,
.icons8Check482,
.icons8Check483,
.icons8Check484,
.icons8Check485 {
  position: absolute;
  top: 348px;
  left: 220px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.icons8Check482,
.icons8Check483,
.icons8Check484,
.icons8Check485 {
  top: 410px;
}
.icons8Check483,
.icons8Check484,
.icons8Check485 {
  top: 472px;
}
.icons8Check484,
.icons8Check485 {
  top: 534px;
}
.icons8Check485 {
  top: 596px;
}
.identificarGargalosQue,
.saberQualO {
  position: absolute;
  top: 361px;
  left: 279px;
  line-height: 24px;
  font-weight: 500;
}
.identificarGargalosQue {
  top: 422px;
}
.centralizarOsEsforos,
.encontrarGapsE,
.oferecerDadosConcretos {
  position: absolute;
  top: 484px;
  left: 279px;
  line-height: 24px;
  font-weight: 500;
}
.encontrarGapsE,
.oferecerDadosConcretos {
  top: 546px;
}
.oferecerDadosConcretos {
  top: 596px;
  text-align: left;
  display: inline-block;
  width: 476px;
}
.seoIii {
  position: absolute;
  top: 1114px;
  left: 0;
  width: 1440px;
  height: 685px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
}
.soluesDePublicidade {
  position: absolute;
  top: 11px;
  left: 405px;
  font-size: var(--font-size-9xl);
}
.seoIiInner {
  position: absolute;
  top: 105px;
  left: 417px;
  width: 80px;
  height: 80px;
}
.icons8Cardio5011 {
  position: absolute;
  top: 120px;
  left: 432px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.diagnstico {
  position: absolute;
  top: 190px;
  left: 414px;
  line-height: 28px;
}
.ellipseIcon {
  position: absolute;
  top: 105px;
  left: 520px;
  width: 80px;
  height: 80px;
}
.icons8Planning5011 {
  position: absolute;
  top: 120px;
  left: 535px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.planejamento {
  position: absolute;
  top: 190px;
  left: 512px;
  line-height: 28px;
}
.seoIiChild1 {
  position: absolute;
  top: 105px;
  left: 623px;
  width: 80px;
  height: 80px;
}
.icons8Persona641 {
  position: absolute;
  top: 120px;
  left: 638px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.persona {
  position: absolute;
  top: 190px;
  left: 635px;
  line-height: 28px;
}
.seoIiChild2 {
  position: absolute;
  top: 105px;
  left: 726px;
  width: 80px;
  height: 80px;
}
.icons8Production321 {
  position: absolute;
  top: 120px;
  left: 741px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.produo {
  position: absolute;
  top: 190px;
  left: 731px;
  line-height: 28px;
}
.seoIiChild3 {
  position: absolute;
  top: 105px;
  left: 829px;
  width: 80px;
  height: 80px;
}
.icons8Implementation641 {
  position: absolute;
  top: 120px;
  left: 844px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.implementao {
  position: absolute;
  top: 190px;
  left: 816px;
  line-height: 28px;
}
.seoIiChild4 {
  position: absolute;
  top: 105px;
  left: 932px;
  width: 80px;
  height: 80px;
}
.icons8Sale641 {
  top: 120px;
  left: 947px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.execuo,
.icons8Sale641,
.seoIi {
  position: absolute;
}
.execuo {
  top: 190px;
  left: 938px;
  line-height: 28px;
}
.seoIi {
  top: 874px;
  left: 0;
  width: 1440px;
  height: 240px;
  overflow: hidden;
}
.yvn2cer8bwa51Icon {
  object-fit: cover;
}
.seoI,
.yvn2cer8bwa51Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 873.51px;
}
.perfil21Icon,
.vortion1Icon {
  position: absolute;
  top: 0;
  left: 135px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.vortion1Icon {
  top: 10px;
  left: 179px;
  width: 117.86px;
  height: 25px;
}
.contato1 {
  position: absolute;
  top: 21px;
  left: 1147px;
  font-weight: 300;
}
.blog1,
.clientes2,
.home1,
.quemSomos1,
.solues1 {
  position: absolute;
  top: 21px;
  left: 1097px;
  font-weight: 300;
}
.clientes2,
.home1,
.quemSomos1,
.solues1 {
  left: 1022px;
}
.home1,
.quemSomos1,
.solues1 {
  left: 934px;
}
.home1,
.quemSomos1 {
  left: 823px;
}
.home1 {
  left: 769px;
}
.desktop1,
.header {
  background-color: var(--color-gray);
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 50px;
  font-size: var(--font-size-mini);
}
.desktop1 {
  position: relative;
  width: 100%;
  height: 5618px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
